* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("/public/Assets/background.jpg");
    background-size: cover;
    background-position: center;
}

.c3 {
    font-size: 5rem;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
